Checking the processor and memory allocated to us through cloud

In [ ]:
!cat /proc/cpuinfo
!cat /proc/meminfo

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0x1
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed
bogomips	: 4399.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0x1
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed
bogomips	: 4399.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

MemTotal:       13297228 kB
MemFree:        10875056 kB
MemAvailable:   12443544 kB
Buffers:           62932 kB
Cached:          1673456 kB
SwapCached:            0 kB
Active:           454808 kB
Inactive:        1793096 kB
Active(anon):        972 kB
Inactive(anon):   473648 kB
Active(file):     453836 kB
Inactive(file):  1319448 kB
Unevictable:           0 kB
Mlocked:               0 kB
SwapTotal:             0 kB
SwapFree:              0 kB
Dirty:               536 kB
Writeback:             0 kB
AnonPages:        511544 kB
Mapped:           231076 kB
Shmem:              1276 kB
KReclaimable:      73308 kB
Slab:             101840 kB
SReclaimable:      73308 kB
SUnreclaim:        28532 kB
KernelStack:        4704 kB
PageTables:         9708 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     6648612 kB
Committed_AS:    2930316 kB
VmallocTotal:   34359738367 kB
VmallocUsed:        9540 kB
VmallocChunk:          0 kB
Percpu:             1400 kB
HardwareCorrupted:     0 kB
AnonHugePages:         0 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
FileHugePages:         0 kB
FilePmdMapped:         0 kB
CmaTotal:              0 kB
CmaFree:               0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:       86848 kB
DirectMap2M:     4104192 kB
DirectMap1G:    11534336 kB

Installing libraries
Most of the libraries are preinstalled but incase if not installed then ------PyPI in google search

In [ ]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd
df = pd.read_csv('/content/Boston.csv')
df.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [ ]:
!ls

Boston.csv  sample_data

In [ ]:
#int,float,str
h1,h2,h3="IM","CA","BM"
print(h1)
print(h2)
print(h3)

IM
CA
BM

Input Function

In [ ]:
num1=int(input('Enter num1'))
num2=int(input('Enter num2'))

sum = num1+num1
print(sum)

Enter num16.6
Enter num27,9
6.66.6

In [ ]:
print('Hello'*5)

HelloHelloHelloHelloHello

Slicing

In [ ]:
my_string ='Programming'
print(my_string[1:5])

rogr

In [ ]:
#step
print(my_string[0:10:2])

Pormi

String Concatenation

In [ ]:
w1='Machine'
w2='Learning'

print(w1+' '+w2)

Machine Learning

 Lists

In [ ]:
my_list =[1,2,3,4,5,6]
print(my_list)
print(type(my_list))
l1=[1,2,'E','F',7,8]
print(l1)
l1.append(4)
print(l1)

[1, 2, 3, 4, 5, 6]
<class 'list'>
[1, 2, 'E', 'F', 7, 8]
[1, 2, 'E', 'F', 7, 8, 4]

In [ ]:
#initiating empty list
list2 =[]
print(list2)

[]

In [ ]:
list2.append(2)
print(list2)
del list2[0]
print(list2)

[2, 2]
[2]

Tuple

In [ ]:
tuple1 =(2,3,4,5)
print(tuple1)

(2, 3, 4, 5)

In [ ]:
#tuple allows multiple data types
t2 =(1,2,3,4,'English')
print(t2)

(1, 2, 3, 4, 'English')

In [ ]:
#Convert tuple to list
my_tuple = tuple(my_list)
print(my_tuple)
# tuples anr immutable
#my_tuple.append(9)

(1, 2, 3, 4, 5, 6)